@font-face {
  font-family: "FFGoodPro Medium";
  src: url(/equipesIframes/maroc-joueurs/FFGoodProMedium/FFGoodPro-Medium.woff)
      format(woff),
    url(/equipesIframes/maroc-joueurs/FFGoodProMedium/FFGoodPro-Medium.woff2)
      format(woff2);
  font-weight: normal;
  font-style: normal;
}

html {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("/images/players-background.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

* {
  color: white;
  font-family: "FFGoodPro Medium";
  font-size: 1rem;
}

.player-card {
  display: flex;
  justify-content: center;
}

div {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div img {
  height: 325px;
}

table {
  width: 30%;
  margin-left: 7%;
}

table td {
  border-bottom: 1px rgb(53, 53, 53) solid;
  margin-left: 20px;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(37, 37, 37); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(131, 131, 131); /* color of the scroll thumb */
  border-radius: 50px; /* roundness of the scroll thumb */
  border: 2px solid rgb(37, 37, 37); /* creates padding around scroll thumb */
}
